*~
__pycache__
/uebung1/README.html
*.png
/uebung1/README.pdf
/uebung1/README.tex
/uebung1/aufgabe1.zip
/uebung2/README.pdf
/uebung2/README.html
/uebung2/README.tex
/uebung2/uebung2_3.tex
/uebung2/uebung2_3.pdf
/uebung2/aufgabe2.zip
/uebung2/uebung2_2.pdf
/uebung2/uebung2_2.tex
